<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">blog dashboard</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page"><a href="/">dashboard</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">blog dashboard
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Left Section -->
<div class="row mb-3 brief-st">
    <div class="col-xl-8">
        <!-- inner top -->
        <div class="row">
            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Total Post
                                </p>
                                <strong>
                                    <span class="h5">
                                        125
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-book"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Pages
                                </p>
                                <strong>
                                    <span class="h5">
                                        95
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-file"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded shadow border-0 mb-4 parent-wrap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="text-muted">
                                    Comments
                                </p>
                                <strong>
                                    <span class="h5">
                                        1,295
                                    </span>
                                </strong>
                            </div>
                            <div class="flex-shrink-0 align-self-center">
                                <div class="circle-avatar">
                                    <i class="fas fa-comment"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner down -->
        <div class="card rounded shadow border-0 chart-card">
            <div class="card-body">
                <!-- inner top -->
                <div class="d-sm-flex flex-wrap">
                    <h6 class="text-uppercase">Visitors</h6>
                    <div class="btn-group ms-sm-auto" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm anm-riple bg-light text-dark rounded-0">All</button>
                        <button type="button" class="btn btn-sm anm-riple bg-light text-dark rounded-0">1M</button>
                        <button type="button" class="btn btn-sm anm-riple bg-light text-dark rounded-0">6M</button>
                        <button type="button" class="btn btn-sm anm-riple bg-light text-dark rounded-0">1Y</button>
                    </div>
                </div>
                <!-- Statistics -->
                <div class="row text-center">
                    <div class="col-lg-4">
                        <div class="mt-4">
                            <p class="text-muted mb-1">Today</p>
                            <h6>1024</h6>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <p class="text-muted mb-1">This Month</p>
                            <h6>12356 <span class="text-success font-sm">0.2% <i
                                        class="fas fa-arrow-up align-middle"></i></span>
                            </h6>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <p class="text-muted mb-1">This Year</p>
                            <h6>102354 <span class="text-success font-sm">0.1% <i
                                        class="fas fa-arrow-up align-middle"></i></span>
                            </h6>
                        </div>
                    </div>
                </div>
                <hr class="mb-2">
                <!-- inner down -->
                <div id="splinechart">
                    <!-- this comes from javascript -->
                    <img src="https://thumbs.gfycat.com/InsistentTautGodwit-max-1mb.gif"
                        class="img-fluid mx-auto d-block" style="height: 350px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <!-- inner top -->
        <div class="card rounded shadow border-0 mb-4">
            <div class="card-body rounded-bottom rounded-1">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <img src="/assets/img/avatar.png" width="50px" class="img-fluid img-thumbnail rounded-circle"
                            alt="avatar">
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <div class="text-muted">
                                    <h6 class="mb-1">Amr Mohamed</h6>
                                    <p class="mb-0 font-sm">Front End Dev</p>
                                </div>
                            </div>
                            <div class="flex-shrink-0 ms-2 dropdown">
                                <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog align-middle me-1"></i> <span
                                        class="align-middle">Setting</span>
                                </button>

                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    <p class="text-muted text-truncate font-sm">Total Post</p>
                                    <h6>
                                        92
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div>
                                    <p class="text-muted text-truncate font-sm">Subscribers</p>
                                    <h6>
                                        10K
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Middle -->
        <div class="card rounded shadow border-0 mb-4 mb-custom">
            <div class="card-body">
                <div class="d-flex align-items-start flex-wrap">
                    <h6 class="me-1 mb-3">Subscribers</h6>
                    <div class="dropdown ms-auto align-middle">
                        <a class="text-muted dropdown-toggle cursor-pointer" id="dropdown-2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h font-xs"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-2">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div>
                        <p class="text-muted mb-1">Total Subscribe</p>
                        <h4 class="mb-2">10,512</h4>
                        <p class="text-success mb-0"><span>0.6 % <i class="fas fa-arrow-up ms-1"></i></span></p>
                    </div>
                    <div class="align-self-end ms-auto">
                        <i class="fas fa-users text-light font-lg"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Bottom -->
        <div class="card rounded shadow border-0">
            <div class="card-body p-4 text-center">
                <div class="avatar-user mx-auto bg-light text-center mb-4 rounded-circle "
                    style="width: 5rem;height: 5rem;">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        <i class="fas fa-envelope-open font-2rem text-primary"></i>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <h5 class="text-primary">Subscribers</h5>
                        <p class="mb-4 font-sm text-muted">
                            Subscribe our newletter and get <br> notification to stay update.
                        </p>
                        <div class="input-group bg-light rounded">
                            <input type="email" class="form-control bg-transparent border-0"
                                placeholder="Enter Email address" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="button" id="button-addon2">
                                <i class="fas fa-paper-plane"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Second Section -->
<div class="row mb-4">
    <div class="col-xl-4 col-lg-6">
        <div class="card rounded shadow border-0 posts-content mb-custom">
            <div class="card-header bg-transparent border-light border-bottom">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="me-2">
                        <h6 class="mb-0">Posts</h6>
                    </div>
                    <div class="btn-group ms-auto btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn rounded-0 active">Recent</button>
                        <button type="button" class="btn rounded-0">Popular</button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div data-simplebar style="max-height: 290px;">
                    <ul class="list-group list-group-flush">
                        <% for( let index = 1; index < 5; index++ ) { %>
                        <li class="list-group-item border-light py-3">
                            <div class="d-flex">
                                <div class="me-3">
                                    <img src="https://source.unsplash.com/250x250?work"
                                        class="rounded img-fluid d-block avatar-md" style="height: 3rem;"
                                        alt="img unsplash">
                                </div>
                                <div class="align-self-center me-auto overflow-hidden">

                                    <h6 class="text-truncate font-md"><a href="javascript: void(0);"
                                            class="text-dark">Beautiful Day with Friends</a></h6>
                                    <p class="text-muted mb-0 font-sm"><%= index + 7 %> Nov, 2020</p>

                                </div>
                                <div class="dropdown ms-2 align-middle">
                                    <a class="text-muted dropdown-toggle cursor-pointer" id="dropdown-<%= index + 3 %>"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h font-xs"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-<%= index + 3 %>">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6">
        <div class="card rounded shadow border-0 comments-content mb-custom">
            <div class="card-header bg-transparent border-bottom-0">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="me-2">
                        <h6 class="mb-0">Comments</h6>
                    </div>
                    <div class="dropdown ms-auto align-middle">
                        <a class="text-muted dropdown-toggle cursor-pointer" id="dropdown-new" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h font-xs"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-new">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div data-simplebar style="max-height: 295px;">
                    <%- include("../partials/comments-sm.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card rounded shadow border-0 visitors-content">
            <div class="card-header bg-transparent border-bottom-0">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="me-2">
                        <h6 class="mb-0">Top Visitors</h6>
                    </div>
                    <div class="dropdown ms-auto align-middle">
                        <a class="text-muted dropdown-toggle cursor-pointer" id="dropdown-new" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h font-xs"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-new">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div style="max-height: 295px;">
                    <div class="row text-center">
                        <div class="col-6">
                            <div class="mt-3">
                                <p class="text-muted mb-1 font-sm">Today</p>
                                <h5>1024</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-3">
                                <p class="text-muted mb-1 font-sm">This Month</p>
                                <h5>12356 <span class="text-success font-sm">0.2%<i
                                            class="fas fa-arrow-up ms-1"></i></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-light">
                            <div class="py-2">
                                <h5 class="font-sm">Alex <span class="float-end">78%</span></h5>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item border-light">
                            <div class="py-2">
                                <h5 class="font-sm">Damanhour <span class="float-end">65%</span></h5>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 65%"
                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item border-light">
                            <div class="py-2">
                                <h5 class="font-sm">Cairo <span class="float-end">56%</span></h5>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 56%"
                                        aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Third Section -->
<div class="row mb-3">
    <div class="col-xl-4">
        <div class="card rounded shadow border-0 mb-custom">
            <div class="card-body rounded-bottom rounded-1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="me-2">
                        <h6 class="mb-0">Activity</h6>
                    </div>
                    <div class="dropdown ms-auto align-middle">
                        <a class="text-muted dropdown-toggle cursor-pointer" id="dropdown-new" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h font-xs"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-new">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mt-4 act-wr" data-simplebar style="max-height: 305px;">
                    <ul class="list-unstyled mx-2 wr-activates">
                        <li class="activate-item pb-5 active">
                            <div class="pre-arrow">
                                <i class="far fa-arrow-alt-circle-right font-sm"></i>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-2">
                                    <small><strong>02</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                                </div>
                                <div class="align-self-center flex-grow-1">
                                    <p class="mb-0 text-muted">
                                        dolor sit amet consectetur adipisicing elit. Incidunt,
                                        exercitationem lorem
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="activate-item pb-5">
                            <div class="pre-arrow">
                                <i class="far fa-arrow-alt-circle-right font-sm"></i>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-2">
                                    <small><strong>03</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                                </div>
                                <div class="align-self-center flex-grow-1">
                                    <p class="mb-0 text-muted">
                                        dolor sit amet consectetur adipisicing.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="activate-item pb-5">
                            <div class="pre-arrow">
                                <i class="far fa-arrow-alt-circle-right font-sm"></i>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-2">
                                    <small><strong>04</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                                </div>
                                <div class="align-self-center flex-grow-1">
                                    <p class="mb-0 text-muted">
                                        dolor sit amet consectetur adipisicing elit. Incidunt,
                                        exercitationem Lorem, ipsum dolor.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="activate-item pb-0">
                            <div class="pre-arrow">
                                <i class="far fa-arrow-alt-circle-right font-sm"></i>
                            </div>
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-2">
                                    <small><strong>05</strong> Nov <i class="fas fa-chevron-right font-xs"></i></small>
                                </div>
                                <div class="align-self-center flex-grow-1">
                                    <p class="mb-0 text-muted">
                                        dolor sit amet consectetur adipisicing elit. Incidunt,
                                        exercitationem consectetur adipisicing elit. Incidunt,
                                        exercitationem...
                                        <a href="javascript: void(0);" class="text-primary ">
                                            learn more <i class="fas fa-chevron-right font-xs"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text-center mt-4">
                    <a href="javascript: void(0);" class="btn font-sm btn-primary anm-riple btn-sm">
                        View More
                        <i class="fas fa-arrow-right ms-1 font-xs"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card rounded shadow border-0">
            <div class="card-body rounded-bottom rounded-1">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="me-2">
                        <h6 class="mb-0">Popular Post</h6>
                    </div>
                    <div class="dropdown ms-auto align-middle">
                        <a class="text-muted dropdown-toggle cursor-pointer" id="dropdown-new" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h font-xs"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-new">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-nowrap align-middle mb-0 mt-3">
                        <tbody class="border-bottom border-dark">
                            <tr>
                                <th scope="col" colspan="2">Post</th>
                                <th scope="col">Likes</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Action</th>
                            </tr>
                        </tbody>
                        <tbody>
                            <% for( let index = 0; index < 5; index++ ) { %>
                            <tr>
                                <td style="width: 100px;"><img src="https://source.unsplash.com/350x350?animation"
                                        alt="anmition" class="avatar-md d-block rounded" style="height: 3rem;"></td>
                                <td>
                                    <h5 class="font-md text-truncate mb-1"><a href="javascript: void(0);"
                                            class="text-dark">Beautiful Day with Friends</a></h5>
                                    <p class="text-muted mb-0"><%= index + 10 %> Nov, 2020</p>
                                </td>
                                <td><i class="far font-xs fa-thumbs-up align-middle me-1"></i><%= index + 34 %></td>
                                <td><i class="far font-xs fa-comment-dots align-middle me-1"></i><%= index + 16 %></td>
                                <td>
                                    <div class="dropdown ms-2 align-middle">
                                        <a class="text-muted dropdown-toggle cursor-pointer"
                                            id="dropdown-p-<%= index %>" data-bs-toggle="dropdown" aria-expanded="true">
                                            <i class="fas fa-ellipsis-h font-xs"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start"
                                            aria-labelledby="dropdown-p-<%= index %>"
                                            data-popper-placement="bottom-end">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>