<% 
    let sidebarElements = [
        {
            type: "image",
            color: "success",
            files: 64,
            size: "4.6 GB",
            icon: "image"
        },
        {
            type: "video",
            color: "danger",
            files: 12,
            size: "2.4 GB",
            icon: "play-circle"
        },
        {
            type: "music",
            color: "info",
            files: 5,
            size: "0.9 GB",
            icon:"music"
        },
        {
            type: "document",
            color: "info",
            files: 21,
            size: "2 GB",
            icon: "file"
        },
        {
            type: "others",
            color: "warning",
            files: 19,
            size: "1.8 GB",
            icon: "folder-open"
        },
    ];
%>


<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">file manager</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/">dashboard</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    file manager
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Middle Section or Content -->

<div class="d-xl-flex mb-2">
    <div class="w-100">
        <div class="d-md-flex">
            <div class="card rounded shadow border-0 me-md-2 mb-custom file-manager-sidbar">
                <div class="card-body rounded-bottom rounded-1">
                    <div class="d-flex flex-column h-100">
                        <div class="mb-4">
                            <div class="mb-3">
                                <div class="dropdown overflow-hidden">
                                    <button class="btn btn-light w-100 text-truncate anm-riple dark-riple" type="button"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-plus me-1 font-xs"></i>Create New
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><i
                                                class="far fa-folder-open me-1 font-sm align-middle"></i>Folder</a>
                                        <a class="dropdown-item" href="#"><i
                                                class="far fa-file me-1 font-sm align-middle"></i>
                                            File</a>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-unstyled categories">
                                <li>
                                    <div class="custom-accordian">
                                        <a class="text-body py-1 d-flex align-items-center" data-bs-toggle="collapse"
                                            href="#categories-collapse" role="button" aria-expanded="false"
                                            aria-controls="categories-collapse">
                                            <i class="fas fa-folder-open font-sm text-warning me-2"></i>
                                            Files
                                            <i class="fas fa-chevron-down ms-auto font-xs align-middle"></i>
                                        </a>
                                        <div class="collapse" id="categories-collapse">
                                            <div class="card border-0 ps-4 mb-0">
                                                <ul class="list-unstyled mb-0">
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center text-muted font-sm"><span
                                                                class="me-auto">Design</span></a></li>
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center text-muted font-sm"><span
                                                                class="me-auto">Development</span> <i
                                                                class="fas fa-thumbtack ms-auto font-xs"></i></a></li>
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center text-muted font-sm"><span
                                                                class="me-auto">Project A</span></a></li>
                                                    <li><a href="javascript: void(0);"
                                                            class="d-flex align-items-center text-muted font-sm"><span
                                                                class="me-auto">Admin</span> <i
                                                                class="fas fa-thumbtack ms-auto font-xs"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center py-1">
                                        <i class="fab fa-google-drive text-muted me-2"></i> <span class="me-auto">Google
                                            Drive</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center py-1">
                                        <i class="fab fa-dropbox me-2 text-info"></i> <span
                                            class="me-auto">Dropbox</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center py-1">
                                        <i class="fas fa-share-alt me-2 text-muted"></i> <span
                                            class="me-auto">Shared</span>
                                        <i class="fas fa-circle text-danger ms-2 align-middle"
                                            style="font-size: 5px;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center py-1">
                                        <i class="fas fa-star me-2 text-warning"></i>
                                        <span class="me-auto">Starred</span>

                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center py-1">
                                        <i class="fas fa-trash me-2 text-danger"></i><span
                                            class="me-auto">Deleted</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="text-body d-flex align-items-center py-1">
                                        <i class="fas fa-cog me-2 text-muted"></i>
                                        <span class="me-auto">Setting</span>
                                        <span class="badge bg-success rounded-pill font-xs p-1 ms-2">01</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-auto">
                            <div class="alert alert-success alert-dismissible fade show px-3 mb-0" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                                <div class="mb-3">
                                    <i class="fas fa-folder-open font-2rem text-success"></i>
                                </div>
                                <div>
                                    <h5 class="text-success">Upgrade Features</h5>
                                    <p class="font-sm">Cum sociis natoque penatibus et</p>
                                    <div class="text-center">
                                        <button type="button"
                                            class="btn btn-link text-decoration-none text-success">Upgrade <i
                                                class="fas fa-arrow-right font-xs"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Middle Content -->
            <div class="w-100 mb-custom">
                <div class="card rounded shadow border-0">
                    <div class="card-body rounded-bottom rounded-1">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 align-self-center">
                                    <h5>My Files</h5>
                                </div>
                                <div class="col-xl-9 col-sm-6">
                                    <form class="mt-3 mt-sm-0 float-sm-end d-flex align-items-center">
                                        <div class="search-box mb-2 me-2">
                                            <div class="input-group input-group-sm d-flex">
                                                <button class="btn border-0 anm-riple bg-dark" type="button"
                                                    id="search"><i
                                                        class="fas fa-search text-light font-xs"></i></button>
                                                <input type="text" class="form-control bg-light border-0"
                                                    placeholder="Search.." aria-label="Example text with button addon"
                                                    aria-describedby="search">
                                            </div>
                                        </div>

                                        <div class="dropdown mb-0">
                                            <a class="btn btn-link text-muted mt-n2" role="button"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Share Files</a>
                                                <a class="dropdown-item" href="#">Share with me</a>
                                                <a class="dropdown-item" href="#">Other Actions</a>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row gy-4">
                                <% let folders = ["Desgin","Developement","Project A","Admin","Sketch","Desgin"]; folders.forEach(folder => { %>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="float-end ms-2">
                                                <div class="dropdown mb-2">
                                                    <a class="text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="avatar-sm me-3 mb-3">
                                                <i class="fas fa-folder-open font-2rem text-warning"></i>
                                            </div>
                                            <div class="d-flex">
                                                <div class="overflow-hidden me-auto">
                                                    <h6 class="text-truncate mb-1"><a href="javascript: void(0);"
                                                            class="text-body"><%= folder %> </a></h6>
                                                    <p class="text-muted text-truncate mb-0">12 Files</p>
                                                </div>
                                                <div class="align-self-end ms-2">
                                                    <p class="text-muted mb-0">6GB</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>

                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="d-flex flex-wrap">
                                <h5 class="me-3">Recent Files</h5>
                                <div class="ms-auto">
                                    <a href="javascript: void(0);" class="text-reset">View All</a>
                                </div>
                            </div>
                            <hr class="mt-2">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-hover mb-0">
                                    <thead class="border-bottom">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date modified</th>
                                            <th scope="col" colspan="2">Size</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="javascript: void(0);" class="text-dark">
                                                    <i
                                                        class="fas fa-file-code font-sm align-middle text-primary me-2"></i>index.html
                                                </a>
                                            </td>
                                            <td>12-10-2020, 09:45</td>
                                            <td>09 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class="text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-folder-open  align-middle text-warning me-2"></i>
                                                    Project-A.zip</a></td>
                                            <td>11-10-2020, 17:05</td>
                                            <td>115 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-image align-middle text-muted me-2"></i>
                                                    Img-1.jpeg</a></td>
                                            <td>11-10-2020, 13:26</td>
                                            <td>86 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-file-word  align-middle text-muted me-2"></i>
                                                    update list.txt</a></td>
                                            <td>10-10-2020, 11:32</td>
                                            <td>08 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-folder-open  align-middle text-warning me-2"></i>
                                                    Project B</a></td>
                                            <td>10-10-2020, 10:51</td>
                                            <td>72 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-file-word  align-middle text-muted me-2"></i>
                                                    Changes list.txt</a></td>
                                            <td>09-10-2020, 17:05</td>
                                            <td>07 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-image align-middle text-success me-2"></i>
                                                    Img-2.png</a></td>
                                            <td>09-10-2020, 15:12</td>
                                            <td>31 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-folder-open  align-middle text-warning me-2"></i>
                                                    Project C</a></td>
                                            <td>09-10-2020, 10:11</td>
                                            <td>20 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript: void(0);" class="text-dark fw-medium"><i
                                                        class="fas fa-file-code  align-middle text-primary me-2"></i>
                                                    starter-page.html</a></td>
                                            <td>08-10-2020, 03:22</td>
                                            <td>11 KB</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a class=" text-muted" role="button" data-bs-toggle="dropdown"
                                                        aria-haspopup="true">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="#">Open</a>
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="card rounded shadow border-0 ms-lg-2 file-manager-sidbar">
        <div class="card-body rounded-bottom rounded-1">
            <div class="text-center position-relative">
                <h6 class="mb-0">Storage</h6>
                <div class="apx-chart" id="radial-storage" style="min-height: 65px;">
                    <!-- this comes from javascript -->
                    <img src="https://thumbs.gfycat.com/InsistentTautGodwit-max-1mb.gif"
                        class="img-fluid mx-auto d-block">
                </div>
                <p class="text-muted mt-1">48.02 GB (76%) of 64 GB used</p>
            </div>
            <div class="mt-4">
                <% sidebarElements.forEach(element => { %>
                <div class="card option-link">
                    <a href="javascript: void(0);" class="text-body">
                        <div class="p-2">
                            <div class="d-flex">
                                <div class="avatar-sm text-center align-self-center me-2">
                                    <i class="fas fa-<%= element.icon %>  text-<%= element.color %> align-middle"
                                        style="font-size: 1.1rem;"></i>
                                </div>
                                <div class="overflow-hidden me-auto">
                                    <h6 class=" text-truncate mb-1 text-capitalize"><%= element.type %></h6>
                                    <p class="text-muted text-truncate mb-0 font-sm"><%= element.files %> Files</p>
                                </div>
                                <div class="ms-2">
                                    <p class="text-muted font-sm"><%= element.size %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
</div>