<!-- Top Section -->
<div class="row">
    <div class="col-12 justify-content-md-between d-md-flex">
        <h5 class="title text-uppercase mb-0">inboxes</h5>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize active" aria-current="page">
                    <a href="/email/inboxes">email</a>
                </li>
                <li class="breadcrumb-item text-capitalize" aria-current="page">
                    inboxes
                </li>
            </ol>
        </nav>
    </div>
</div>


<!-- Middle Section -->
<div class="row email-inboxe mb-3">
    <div class="col-12">
        <div class="row">
            <!-- Left Side -->
            <div class="col-md-3">
                <%- include("../../partials/leftside-emails.ejs")  %>
            </div>
            <!-- Right Side -->
            <div class="col-md-9">
                <div class="card rounded shadow border-0 p-2 inboxe-rightside">
                    <!-- Toolbar Settings -->
                    <div class="btn-toolbar p-3" role="toolbar">
                        <div class="btn-group btn-group-sm me-2 mb-2 mb-sm-0">
                            <button type="button" class="btn btn-primary anm-riple"><i
                                    class="fas fa-inbox"></i></button>
                            <button type="button" class="btn btn-primary anm-riple"><i
                                    class="fas fa-exclamation-circle"></i></button>
                            <button type="button" class="btn btn-primary anm-riple"><i
                                    class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="btn-group btn-group-sm me-2 mb-2 mb-sm-0">
                            <button type="button" class="btn btn-primary rounded-1 anm-riple" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-folder"></i> <i class="fas fa-chevron-down font-xs ms-1"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Updates</a>
                                <a class="dropdown-item" href="#">Social</a>
                                <a class="dropdown-item" href="#">Team Manage</a>
                            </div>
                        </div>
                        <div class="btn-group btn-group-sm me-2 mb-2 mb-sm-0">
                            <button type="button" class="btn btn-primary rounded-1 anm-riple" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fas fa-tag"></i> <i class="fas fa-chevron-down font-xs ms-1"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Updates</a>
                                <a class="dropdown-item" href="#">Social</a>
                                <a class="dropdown-item" href="#">Team Manage</a>
                            </div>
                        </div>

                        <div class="btn-group btn-group-sm me-2 mb-2 mb-sm-0">
                            <button type="button" class="btn btn-primary rounded-1 anm-riple" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                More <i class="fas fa-ellipsis-v font-xs ms-2"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Mark as Unread</a>
                                <a class="dropdown-item" href="#">Mark as Important</a>
                                <a class="dropdown-item" href="#">Add to Tasks</a>
                                <a class="dropdown-item" href="#">Add Star</a>
                                <a class="dropdown-item" href="#">Mute</a>
                            </div>
                        </div>
                    </div>

                    <!-- Message Content -->
                    <ul class="message-list list-unstyled d-block p-3 mb-0">
                        <% for( let index = 1; index < 22; index++ ) { %>
                        <li class="<%= index%3==0 ? 'unread-msg' : ''  %>">
                            <div class="col-mail-1 overflow-hidden">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="messageemail-<%= index %>">
                                    <label class="form-check-label" for="messageemail-<%= index %>"></label>
                                </div>
                                <a href="#!" class="star-toggle text-secondary me-2 far fa-star"></a>
                                <a href="javascript: void(0);" class="title text-truncate text-dark">Amr, me
                                    (<%= (index + 2) * 3 %>)</a>
                            </div>
                            <div class="col-mail-2 overflow-hidden">
                                <a href="javascript: void(0);" class="subject text-truncate text-muted">
                                    <% if (index%3 == 0) { %>
                                    <span class="badge bg-danger font-xs me-1 p-1">unread</span>
                                    <% } else { %>
                                    Hello -
                                    <% } %>
                                    <small class="teaser">Trip home
                                        from Colombo has been arranged, then Jenna will come get me from Stockholm.
                                        :)</small>
                                </a>
                            </div>
                            <div class="date text-end font-xs">Mar <%= index * 2 %></div>
                        </li>
                        <% } %>
                    </ul>
                </div>

                <div class="row mt-4">
                    <div class="col-7 font-sm align-self-center">
                        Showing 1 - 20 of 1,524
                    </div>
                    <div class="col-5">
                        <div class="btn-group float-end">
                            <button type="button" class="btn btn-sm btn-primary anm-riple"><i
                                    class="fas font-xs fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-sm btn-primary anm-riple"><i
                                    class="fas font-xs fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Of Message Of Compose -->
<%- include ("../../partials/model-send-message.ejs") %>